// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************************************************
                 UNIVERSAL
******************************************************/

*{
  box-sizing: border-box;
}
body{
  margin: 20px;
}

/***************************************************************
                    HEADER
*****************************************************************/


header {
  background-image: url('mountains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navigation{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
  list-style: none;
}
.navigation li,
.menu{
  margin:5px;
  color: #ff4da6;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}

h1{
  font-family:serif;
  text-align: center;
  padding:30px;
  margin-bottom:-15px;
  margin-top: -5px;
  font-size: 40px;
}
/*******************************************************************
                         POST
********************************************************************/

.search_form {
  margin-bottom: 20px;
  text-align: right;
  margin-right: 20px;
}
.post{
  display: flex;
  background-color: #f0f2f4;
  flex-direction: column;
  margin-bottom:15px;
}
.content{
  font-size:20px;
  padding:10px 20px;
}
.content{
  background-color: white;
  padding:7px;
  margin: 20px;
}
.title{
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  margin-left: 40px;
  color: #1e90ff;
}
.show_title{
  font-size:30px;
  text-align: center;
  margin-bottom:-10px;
}
.username{
  text-align:right;
  color: #ff4da6;
  font-size: 15px;
  margin-right:40px;
}
.current_user_choice {
  font-size: 15px;
  margin-left: 30px;
}

.edit,
.delete {
  margin-left: 10px;
  text-decoration: none;
  color: #a5a5af;
}

/************************************************************
                  AUTHENTIFICATION
**************************************************************/

.sign {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
  font-family:sans-serif;
}
.sign_in,
.sign_up,
.sign_out,
.forggot_password {
  text-decoration: none;
  color:black;
}
.sign_out{
  margin-left: 45%;
}
/**************************************************************
                        COMMENTS
****************************************************************/
.comment_content{
  padding:5px;
  font-style: oblique;
  margin-left: 10px;
}
.comment{
  display: flex;
  margin: 20px;
  background-color: white;
  flex-direction: column;
}

.comments_form{
  margin-left:20px;
}
.comments_count{
  text-align: right;
  margin-right: 30px;
}
.subcomment{
  display:flex;
}




/*********************************************************
              VOTES
*********************************************************/

.votes {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}
